    <div id="FooterBuffer"></div>
    <div id="Footer">
        <img src="https://dl.dropboxusercontent.com/scl/fi/zeagmlnysgc8r26h6y9tb/copyright-logo.svg?rlkey=puz550u3g57lk2qvvrhw7qbr0&st=ytbpztfr&dl=0" alt="Copyright logo"></img>
        <%- '<div>' + UpdatedDate + '</div>' %>
    </div>
</body>
</html>