<%- include("partials/header.ejs") %>
<div class="FlexColumn CenterVertHoriz">
    <img id="HomeImg" src="https://dl.dropboxusercontent.com/scl/fi/82iec9htngb12atqf6dfc/home-page.jpg?rlkey=excmijjw77ji6nvwtt0qxa73u&st=0crxjkzq&dl=0" alt="Penrose Impossible Triangle Website Logo" />
    <h1 id="title" class="gradient-textcolor">Hello!<br />I'm Jonathan Hardenstine</h1>
    <h6>Users deserve an interface that is logical and effective</h6>
    <h5>Leadership wants to utilize data to make future decisions</h5>
    <h4>With proper structure and planning both are achievable</h4>
</div>
<%- include("partials/footer.ejs") %>